@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-geist-sans), "Helvetica Neue", Arial, sans-serif;
}

::selection {
  background: #b3903f;
  color: #15130e;
}
